[Unit]
Description=GPU Stats
After=network.target

[Service]
User=<User>
Group=<Group>
Restart=always
RestartSec=5s
ExecStart=/path/to/your/binary

[Install]
WantedBy=multi-user.target